*,
*::after,
*::before{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #232222;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.logo{
    margin-left: 16px;
}

.phone{
    margin-top: 11px;
    margin-right: 43px;
}

.menu__list{
    display: flex;
    margin-top: 16px;
}

.menu__item + .menu__item{
    margin-left: 30px;
}

.menu__link{
    text-transform: uppercase;
    font-weight: 500;
    color: #001e64;
    font-size: 20px;
    line-height: 23px;
}

.menu__link:hover{
    border-bottom: 2px solid #001e64;
}

.header__content{
    background-image: url(../images/header_bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-top: -80px;
    min-height: 100vh;
}

.title{
    color: #001e64;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
    max-width: 590px;
    padding-top: 200px;
    padding-left: 112px;
    margin-bottom: 60px;
}

.header-slider{
    max-width: 400px;
    margin-left: 112px;
    padding-top: 57px;
    padding-bottom: 135px;
}

.header-slider__text{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

.slick-prev,
.slick-next{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: -50px;
}

.slick-prev{
    top: 0;
}

.slick-next{
    bottom: 0;
}

.slick-dots{
    background-color: transparent;
    list-style-type: none;
    position: absolute;
    left: -53px;
    top: 58px;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.slick-dots button{
    background-color: transparent;
    padding: 0;
    border: none;
    list-style-type: none;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    opacity: 0.5;
}

.slick-active button{
    opacity: 1;
}

.slick-dots button::before{
    content: '0';
}

.header__content-btn{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    padding: 14px 88px;
    background-color: rgba(255,255,255,.5);
    border-radius: 20px;
    margin-left: 112px;
    display: inline-block;
    transform: translateY(-100px);
    position: absolute;
    transition: all .5s;
}

.header__content-btn:hover{
    background-color: #001E64;
}

.header__content-box{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}

.header__content-link-active{
    font-weight: 700;
}

.product{
    padding-top: 100px;
}

.product__inner{
    display: flex;
    justify-content: space-between;
}

.product__name{
    width: 510px;
    text-align: center;
    padding-top: 41px;
}

.product__name-item{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
}

.product__name-item.slick-current{
    font-weight: 700;
    font-size: 36px;
    color: #001E64;
    position: center;
}

.product__name-item + .product__name-item{
    margin-top: 30px;
}

.product-prev{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.product-prev,
.product-next{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.product__content{
    width: 600px;
}

.product__content-box{
    display: flex;
    justify-content: space-between;
}

.product__content-img{
    object-fit: cover;
    width: 300px;
    margin-right: 80px;
}

.product__content-list{
    width: 291px;
    list-style-type: none;
}

.product__content-item{
    margin-bottom: 30px;
}

.product__content-item span{
    display: block;
    margin-bottom: 10px;
    color: #001E64;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

.product__content-title{
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #001E64;
}

.product__content-text{
    margin-bottom: 25px;
}

.product__content-btn{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #001E64;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #001E64;
    padding: 12px 85px;
    cursor: pointer;
    transition: all .5s;
}

.product__content-btn:hover{
    background-color: #001E64;
    color: #fff;
}

.seafood-box{
    background-image: url(../images/seafood-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 290px 0 95px;
}

.seafood-box__items{
    display: flex;
    justify-content: space-around;
}

.seafood-box__item{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    width: 180px;
    min-height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/seafood-decor.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.seafood{
    padding: 100px 0;
}

.seafood__items{
    margin-bottom: 100px;
}

.seafood__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.seafood__item-title{
    max-width: 490px;
    font-size: 24px;
    line-height: 29px;
    color: #001E64;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 30px;
}

.seafood__item-text{
    max-width: 420px;
    margin-bottom: 20px;
}

.seafood__item-text__right .seafood__item-title{
    max-width: 420px;
}

.seafood__item-text__right .seafood__item-content{
    margin-right: 180px;
}

.seafood__blockquote{
    max-width: 800px;
    margin: 0 auto;
}

.seafood__blockquote-text{
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto Slab', serif;
}

.contacts{
    background-image: url(../images/contacts-img.jpg);
    background-repeat: no-repeat;
}

.contacts__box{
    margin-left: auto;
    width: 390px;
    background-color: #fff;
    padding: 33px 0 33px 20px;
    width: 350px;
}

.contacts__box-item{
    list-style: none;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
}

.contacts__box-text{
    width: 195px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto Slab', serif;
    color: #001E64;
    margin-bottom: 30px;
}

.footer{
    padding: 25px 0 110px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 45px 0 23px;
}

.footer__inner .menu{
    padding-bottom: 30px;
}

.footer__inner .menu__link{
    color: #232222;
}

.footer-social__list{
    list-style: none;
    display: flex;
    align-items: center;
    padding-bottom: 19px;
}

.footer-social__item + .footer-social__item{
    margin-left: 10px;
}

.footer-social__link path{
    transition: all .3s;
}

.footer-social__link:hover path{
    fill: #001E64;
}

.menu__btn{
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 12px 0;
    position: relative;
    display: none;
}

.menu__btn span{
    display: block;
    height: 4px;
    background-color: #001E64;
}

.menu__btn::after,
.menu__btn::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #001E64;
}

.menu__btn::after{
    bottom: 0;
}

.menu__btn::before{
    top: 0;
}

@media (max-width: 1200px){
    .product__name{
        width: 350px;
    }
    .contacts{
        background-image: none;
    }
    .contacts__box{
        margin-top: -30px;
        background-image: url(../images/contacts-img.jpg);
        background-repeat: no-repeat;
        width: 100%;
        text-align: left;
    }
    .contacts__box-item{
        margin-bottom: 15px;
    }
    .contacts__box-list{
        width: 300px;
    }
    .contacts__box-text{
        margin-top: -10px;
    }
    .footer .logo,
    .footer .menu{
        display: none;
    }
    .footer{
        padding: 40px 0 40px;
    }
    .footer__inner{
        justify-content: center;
    }
    .footer-social__list{
        padding-bottom: 0;
        margin-bottom: -20px;
    }
}

@media (max-width: 1100px){
    .menu__list{
        font-size: 18px;
        line-height: 20px;
    }
    .menu__item + .menu__item{
        margin-left: 25px;
    }
    .seafood__item{
        margin-top: -30px;
        width: 100%;
        display: block;
    }
    .seafood__item-content{
        width: 100%;
    }
    .seafood__blockquote-img{
        width: 100%;
    }
    .seafood__item-text__right .seafood__item-img{
        width: 56%;
    }
}

@media (max-width: 1000px){
    .menu__list{
        position: absolute;
        left: 0;
        right: 0;
        padding-bottom: 20px;
        background-color: #fff;
        display: block;
        top: -380px;
        transition: all .7s;
    }
    .menu__list.menu__list--active{
        top: 20px;
    }
    .menu__btn{
        display: block;
        z-index: 10;
    }
    .menu{
        margin-left: auto;
        margin-top: 12px;
        margin-right: 20px;
    }
    .menu__item + .menu__item{
        margin-left: 0;
    }
    .menu__link{
        padding: 20px 0;
        display: block;
        text-align: center;
        transition: all .3s;
    }
    .menu__link:hover{
        border-bottom: none;
        color: red;
        font-size: 150%;
    }
    .product__name{
        width: 250px;
    }
    .seafood__item-text__right .seafood__item-img{
        width: 64%;
    }
    .seafood__item-title,
    .seafood__item-text{
        max-width: 100%;
    }
}

@media (max-width: 891px){
    .product__inner{
        display: block;
    }
    .product__content{
        margin: 0 auto;
    }
    .product__name{
        width: 100%;
        padding-top: 0;
        margin-bottom: 80px;
    }
    .product__name-item + .product__name-item{
        margin-top: 0;

    }
    .product__name-item.slick-current{
        /* line-height: 44px;
        font-size: 30px; */
        font-size: 26px;
        line-height: 30px;
    }
    .product__name .slick-dots{
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }
    .product__name .slick-dots button{
        width: 10px;
        height: 10px;
        font-size: 0;
        padding: 0;
        border-radius: 50%;
        background-color: #c4c4c4;
        margin: 0 5px;
    }
    .product__name .slick-active button{
        background-color: #001E64;
    }
    .seafood__item-img{
        width: 80%;
    }
    .seafood__item-text__right .seafood__item-img{
        width: 80%;
    }
    .seafood__blockquote-img{
        width: 100%;
    }
    .seafood__items{
        margin-bottom: 10px;
    }
    .seafood__blockquote{
        margin-bottom: -50px;
    }
}

@media (max-width: 745px){
    .title {
        font-size: 50px;
        line-height: 66px;
        max-width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .seafood-box__items{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px 20px;
    }
    .product__content-btn{
        margin-bottom: 30px;
    }
    .seafood-box{
        background-image: none;
        background-color: #001E64;
        padding: 30px 0 30px;
    }
}

@media (max-width: 650px){
    .product__content{
        width: 100%;
    }
    .product__content-img{
        width: 60%;
        margin-bottom: 20px;
    }
    .seafood__blockquote-img{
        width: 100%;
    }
    .seafood__item-img{
        width: 100%;
    }
    .seafood__item-text__right .seafood__item-img{
        width: 100%;
    }

@media (max-width: 600px){
    .product__content-box{
        display: block;
    }
    .product__content-list{
        width: 100%;
    }
    .seafood__blockquote-text{
        text-align: left;
        font-size: 16px;
        line-height: 19px;
    }
    .seafood__blockquote-img{
        width: 100%;
    }
}

@media (max-width: 470px){
    .header-slider{
        text-align: left;
        margin-left: 70px;
    }
    .slick-dots{
        right: 25px;
    }
    .slick-prev, .slick-next{
        right: 9px;
    }
    .header__content-btn{
        font-size: 22px;
        line-height: 28px;
        padding: 14px 66px;
        margin-left: 70px;
    }
    .menu__link{
        text-align: left;
        padding-left: 20px;
    }
    .title {
        font-size: 34px;
        line-height: 44px;
        max-width: 100%;
        padding-left: 0;
        margin-left: 20px;
        text-align: left;
    }
    .phone{
        margin-right: 0;
    }
    .product__content-btn{
        width: 100%;
    }
    .product__name-item{ 
        font-size: 18px;
    }
    .product__name-item.slick-current{
        font-size: 22px;
        line-height: 30px;
    }
}

@media (max-width: 400px){
    .seafood-box__items{
        display: grid;
        grid-template-columns: auto;
        gap: 20px 20px;
    }
}

@media (max-width: 360px){
    .title{
        padding-top: 140px;
    }
    .logo{
        margin-left: 0;
    }
    .menu__list{
        z-index: 5;
    }
    .product__content-img{
        width: 100%;
    }
    .seafood__blockquote-text{
        font-size: 14px;
    }
}

@media (max-width: 320px){
    .header__content-btn{
        font-size: 18px;
        line-height: 22px;
        padding: 12px 56px;
        margin-left: 70px;
    }
}